<!-- TODO Adicionar um componente de chat com uma ia para tirar duvidas e realizar pesquisas nos conteudos do portal -->
<hr style="margin-top: 0px;">

<div class="division" style="padding: 5px 5px 0 10px">
	<p
		style="clear: left;margin: 5px;color: #4F4F4F; font-size: 14px; font-family: inherit; font-weight: inherit; line-height: inherit; text-align: inherit;">
		<a style="color: #4F4F4F;" matTooltip="Sobre Biologicos" matTooltipPosition="above" routerLink="/about">Sobre
			Biologicos</a>
		/ <a style="color: #4F4F4F;" matTooltip="Termos e Condições"
			matTooltipPosition="above" routerLink="/terms-conditions">Terms &amp; Conditions</a> / <a
			style="color: #4F4F4F;" matTooltip="Privacidade" matTooltipPosition="above"
			routerLink="/privacidade">privacidade</a>
	</p>
</div>

<div id="footer-brasil" *ngIf="brasil"></div>