<div class="division" *ngIf="enable">

  <div class="division">

    <mat-form-field class="block m12" hideRequiredMarker="false" floatLabel="always" *ngIf="_medicamento_selected.id">
      <mat-label>Medicamento</mat-label>
      <mat-select [value]="_medicamento_selected.id" required="true" matTooltip="{{_medicamento_selected.nome}}"
        (openedChange)="_opened_medicamento = !_opened_medicamento">
        <mat-option [value]="_medicamento_selected.id">
          <button mat-button *ngIf="_medicamento_selected.id " style="color: #b80303" matSuffix mat-icon-button
            (click)="remove_medicamento();">
            <mat-icon>{{_opened_medicamento ? 'clear' : ''}}</mat-icon>
          </button>
          {{_medicamento_selected.nome}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field class="block m12" hideRequiredMarker="false" floatLabel="always" *ngIf="!_medicamento_selected.id">
      <mat-label>Medicamento</mat-label>
      <input matInput type="text" placeholder="Busque o medicamento" [formControl]="_id_medicamentoCtrl" required="true"
        [matAutocomplete]="auto_medicamento" #input_medicamento (blur)="blur_medicamento()">
      <mat-autocomplete autoActiveFirstOption #auto_medicamento="matAutocomplete"
        (optionSelected)="selected_medicamento($event)">
        <mat-option value="{{list_item.id}}" *ngFor="let list_item of filtered_medicamento | async"
          matTooltip="{{list_item.id}} - {{list_item.nome}}">
          {{list_item.nome}}
        </mat-option>
      </mat-autocomplete>

      <mat-hint style="font-size: 12px; color: #f44336;"
        *ngIf="_id_medicamentoCtrl?.touched && _id_medicamentoCtrl?.invalid">
        Medicamento obrigatória
      </mat-hint>

    </mat-form-field>

  </div>

  <form [formGroup]="fb" *ngIf="fb">

    <div class="division">
      <section style="padding-bottom: 7px;">Forma farmaceutica :</section>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always" style="padding-right: 7px;">
        <mat-label>Dose</mat-label>
        <input aria-label="Dose" matInput type="number" placeholder="Só numeros ex: 1,5 ou 2" formControlName="dose"
          [required]="true" required>
        <button aria-label="Clear Dose" mat-button *ngIf="fb.value.dose && fb.controls['dose'].enabled" matSuffix
          mat-icon-button (click)="fb.get('dose').setValue('')">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-error align="end" *ngIf="fb.get('dose')?.invalid">Dose obrigatoria</mat-error>


      </mat-form-field>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always" *ngIf="_unit_selected.ucum_code"
        style="padding-right: 7px;">
        <mat-label>Unidade de medida</mat-label>
        <mat-select [value]="_unit_selected.ucum_code" required="true"
          matTooltip="{{_unit_selected.description_of_the_unit}}" (openedChange)="_opened_unit = !_opened_unit">
          <mat-option [value]="_unit_selected.ucum_code">
            <button mat-button *ngIf="_unit_selected.ucum_code " style="color: #b80303" matSuffix mat-icon-button
              (click)="remove_unit();">
              <mat-icon>{{_opened_unit ? 'clear' : ''}}</mat-icon>
            </button>
            {{_unit_selected.ucum_code}}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always" *ngIf="!_unit_selected.ucum_code"
        style="padding-right: 7px;">
        <mat-label>Unidade de medida</mat-label>
        <input matInput type="text" placeholder="Busque Unidade de medida" [formControl]="_id_unitCtrl" required="true"
          [matAutocomplete]="auto_unit" #input_unit (blur)="blur_unit()">
        <mat-autocomplete autoActiveFirstOption #auto_unit="matAutocomplete" (optionSelected)="selected_unit($event)">
          <mat-option value="{{list_item.ucum_code}}" *ngFor="let list_item of filtered_unit | async"
            matTooltip="{{list_item.description_of_the_unit}}">
            {{list_item.ucum_code}}
          </mat-option>
        </mat-autocomplete>

        <mat-hint style="font-size: 12px; color: #f44336;" *ngIf="_id_unitCtrl?.touched && _id_unitCtrl?.invalid">
          Unidade de medida obrigatória
        </mat-hint>

      </mat-form-field>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always" *ngIf="_presentation_selected.id">
        <mat-label>Apresentação</mat-label>
        <mat-select [value]="_presentation_selected.id" required="true"
          matTooltip="{{_presentation_selected.description}}"
          (openedChange)="_opened_presentation = !_opened_presentation">
          <mat-option [value]="_presentation_selected.id">
            <button mat-button *ngIf="_presentation_selected.id " style="color: #b80303" matSuffix mat-icon-button
              (click)="remove_presentation();">
              <mat-icon>{{_opened_presentation ? 'clear' : ''}}</mat-icon>
            </button>
            {{_presentation_selected.description}}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always"
        *ngIf="!_presentation_selected.id">
        <mat-label>Apresentação</mat-label>
        <input matInput type="text" placeholder="Busque Apresentação" [formControl]="_id_presentationCtrl"
          required="true" [matAutocomplete]="auto_presentation" #input_presentation (blur)="blur_presentation()">
        <mat-autocomplete autoActiveFirstOption #auto_presentation="matAutocomplete"
          (optionSelected)="selected_presentation($event)">
          <mat-option value="{{list_item.id}}" *ngFor="let list_item of filtered_presentation | async"
            matTooltip="{{list_item.id}} - {{list_item.description}}">
            {{list_item.description}}
          </mat-option>
        </mat-autocomplete>

        <mat-hint style="font-size: 12px; color: #f44336;"
          *ngIf="_id_presentationCtrl?.touched && _id_presentationCtrl?.invalid">
          Apresentação obrigatória
        </mat-hint>

      </mat-form-field>

    </div>

    <div class="division">
      <section style="padding-bottom: 7px;">Posologia :</section>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always" *ngIf="_route_selected.id"
        style="padding-right: 7px;">
        <mat-label>Via de administração</mat-label>
        <mat-select [value]="_route_selected.id" required="true" matTooltip="{{_route_selected.description}}"
          (openedChange)="_opened_route = !_opened_route">
          <mat-option [value]="_route_selected.id">
            <button mat-button *ngIf="_route_selected.id " style="color: #b80303" matSuffix mat-icon-button
              (click)="remove_route();">
              <mat-icon>{{_opened_route ? 'clear' : ''}}</mat-icon>
            </button>
            {{_route_selected.description}}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always" *ngIf="!_route_selected.id"
        style="padding-right: 7px;">
        <mat-label>Via de administração</mat-label>
        <input matInput type="text" placeholder="Busque a via de administração" [formControl]="_id_routeCtrl"
          required="true" [matAutocomplete]="auto_route" #input_route (blur)="blur_route()">
        <mat-autocomplete autoActiveFirstOption #auto_route="matAutocomplete" (optionSelected)="selected_route($event)">
          <mat-option value="{{list_item.id}}" *ngFor="let list_item of filtered_route | async"
            matTooltip="{{list_item.id}} - {{list_item.description}}">
            {{list_item.description}}
          </mat-option>
        </mat-autocomplete>

        <mat-hint style="font-size: 12px; color: #f44336;" *ngIf="_id_routeCtrl?.touched && _id_routeCtrl?.invalid">
          Via de administração obrigatória
        </mat-hint>

      </mat-form-field>

      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always" style="padding-right: 7px;">
        <mat-label>Intervalo</mat-label>
        <textarea matInput required formControlName="interval"
          placeholder="Escreva um intervalo, ex: diariamente ou a cada 8 horas" cdkTextareaAutosize
          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1"></textarea>
      </mat-form-field>


      <mat-form-field class="block m4" hideRequiredMarker="false" floatLabel="always">
        <mat-label>Duração</mat-label>
        <textarea matInput required formControlName="duration" placeholder="Escreva a duração, ex: 7 dias"
          cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1"></textarea>
      </mat-form-field>

    </div>

    <div class="division" style="padding: 7px;">
      <div class="division">
        <p>
          Diluir em soro fisiológico? {{is_dilutable ? 'Sim' : 'Não'}}
          <span style="margin-left: 7px;">
            <button mat-button style="background-color: #03bb2b;" (click)="is_dilutable = true">Sim</button>
            <button mat-button style="margin-left: 7px; background-color: #d84b4b;"
              (click)="is_dilutable=false">Não</button>
          </span>
        </p>
      </div>
    </div>

    <div class="division">
      <mat-form-field class="block m6" hideRequiredMarker="false" floatLabel="always" style="padding-right: 7px;">
        <mat-label>Justificativa</mat-label>
        <textarea matInput required formControlName="justification"
          placeholder="Escreva uma justificativa para a diluição" cdkTextareaAutosize cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="3"></textarea>
      </mat-form-field>

      <mat-form-field class="block m6" hideRequiredMarker="false" floatLabel="always">
        <mat-label>Observação</mat-label>
        <textarea matInput required formControlName="note" placeholder="Escreva uma observação para diluição "
          cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="3"></textarea>
      </mat-form-field>

    </div>
  </form>

</div>

<mat-card *ngIf="!enable">
  <mat-card-content>
    <div class="division" style="text-align: justify;">

      <div class="block m4">
        <p style="margin: 0; color: #383838; padding: 0px 0px 7px 0px;">
          Medicamento: {{_medicamento.medicine}}
        </p>
        <p style="margin: 0; color: #383838; padding: 0px 0px 7px 0px;">
          Forma farmaceutica:
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Dose: {{_medicamento.pharmaceutical_form.dose}}
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Unidade de medida: {{_medicamento.pharmaceutical_form.unit}}
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Apresentação: {{_medicamento.pharmaceutical_form.presentation}}
        </p>

      </div>

      <div class="block m4">
        <p style="margin: 0; color: #383838; padding: 0px 0px 7px 0px;">
          Posologia:
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Via de administração: {{_medicamento.dosage.route}}
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Intervalo: {{_medicamento.dosage.intervalo}}
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Duração: {{_medicamento.dosage.duracao}}
        </p>
      </div>

      <div class="block m4">
        <p style="margin: 0; color: #383838; padding: 0px 0px 7px 0px;">
          Diluir em soro fisiológico? {{_medicamento.dilute ? 'Sim' : 'Não'}}
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Justificativa: {{_medicamento.justification}}
        </p>
        <p
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Observação: {{_medicamento.note}}
        </p>

        <p *ngIf="_medicamento.lote"
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Lote: {{_medicamento.lote}}
        </p>
        <p *ngIf="_medicamento.validade"
          style="margin: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #0000008a;">
          Validade: {{_medicamento.validade}}
        </p>
      </div>

    </div>
  </mat-card-content>
</mat-card>
